body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Do-Hyeon", "sans-serif"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.tNav {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skills__footer p {
  margin-left: 2rem;
}

.bg-dark2 {
  background-color: #101011 !important;
}

.text-muted {
  color: #777778 !important;
}

.container {
  margin: 70px !important;
}

.w-100vh {
  width: 100vh;
}

.nav-link {
  transition: ease 0.75s;
  color: inherit !important;
}

.nav-link:hover {
  padding-left: 35px !important;
  transition: ease 0.75s;
  color: white !important;
}

.active {
  padding-left: 30px !important;
  color: rgb(202, 192, 192) !important;
}

.box {
  transition: 0.35s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 295px;
  height: auto;
  margin: 15px;
  padding: 25px;
  text-overflow: ellipsis;
  /* padding:2rem; */
  /* border : 1px solid rgb(0, 0, 0); */
  background-color: rgb(12, 12, 12);
}

.box:hover {
  /* margin : 15px 1px 15px 1px ; */
  /* margin: 15px 9px; */
  background-image: linear-gradient("#fffff", "#ff00ff");
  transition: 0.25s ease-in-out;
  transform: scale(1.05);
}

.box:hover .box__info i,
.box:hover .box__info a {
  color: black !important;
}

.box-lg {
  background-color: rgb(12, 12, 12);
}

/* .text-overflow-ellipsis{
  text-overflow: clip;
  white-space: nowrap;
  overflow: scroll;
} */

.work-description {
  font-size: 15px;
  font-weight: lighter;
}

.work-footer {
  font-size: 14px;
  color: rgb(187, 184, 184) !important;
  margin-top: auto !important;
}

.experience-list {
  /* background-color: red; */
  margin-left: -20px;
}

.experience-list li {
  list-style-type: none;
  line-height: 1.5em;
}

.experience-list li:not(:first-child) {
  margin-top: 35px;
}

.profile-image {
  width: 25%;
  border-radius: 75px;
}

.page {
  margin-top: 3rem;
}

.visiting-card {
  height: 300px;
  /* margin: inherit 50px !important; */
  margin-right: 50px !important;
  background-color: rgb(12, 12, 12);
  box-shadow: 0px 3px 15px rgba(34, 32, 32, 0.2);
}

.visiting-card-logo {
  background-image: linear-gradient(
      to right,
      rgba(156, 72, 72, 0.377),
      rgba(82, 82, 83, 0.295)
    ),
    url("./asset/art.png");
  background-size: cover;
  clip-path: polygon(
    0 0,
    100% 0,
    82% 23%,
    82% 81%,
    100% 99%,
    0 100%,
    0% 80%,
    0% 20%
  );
  background-position: center;
}

form section {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

input,
textarea {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background-color: rgb(7, 7, 7);
  color: rgb(245, 245, 245);
}

.foot-navigation {
  display: none;
}

.logo {
  font-size: 30px;
  padding: 41px 0px 0px 45px;
}

.menu {
  padding: 41px 45px 0 0;
  font-size: 30px;
}

.foot-navigation {
  display: none;
  /* justify-content: space-around; */
  margin: 35px auto;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 992px) {
  .tNav {
    display: block;
    /* position: fixed; */
    /* width: 100%; */
    /* background-color: rgb(10, 10, 10); */
  }

  .tNav__background {
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: 10000000;
    border-radius: 50%;
    background-color: yellow;
    background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(14, 14, 14, 0.8));
    transition: all 0.5s;
  }

  .tNav__checkbox {
    display: none;
  }

  .tNav__checkbox:checked ~ .tNav__background {
    transform: scale(65);
    transition: all 0.5s;
  }

  .tNav__button {
    z-index: 30000000;
    background-color: white;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 1rem;
    right: 2rem;
    border-radius: 50%;
    /* box-shadow: 1px 1rem 1rem rgba(82, 82, 83, 0.295); */
    box-shadow: 0px 3px 15px rgba(34, 32, 32, 0.2);
  }

  .tNav__list {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20000000;
    list-style: none;
  }

  .tNav__nav {
    opacity: 0;
    width: 0;
  }

  .tNav__checkbox:checked ~ .tNav__nav {
    opacity: 1;
    width: 100%;
  }

  .tNav__item {
    background-color: whitesmoke;
    margin: 15px 0;
    transition: all 0.2s;
    color: black;
  }

  .tNav__link:link,
  .tNav__link:visited {
    text-decoration: none;
    color: inherit;
    padding: 15px 70px;
    display: inline-block;
  }
  .tNav__item:hover {
    background-color: black;
    color: whitesmoke !important;
    transform: translateY(-2px);
    transition: all 0.2s;
    /* box-shadow: 1px 1px 1rem rgb(10, 10, 10); */
    box-shadow: 0px 3px 15px rgba(34, 32, 32, 0.2);
  }

  .box-lg {
    margin: 0 5%;
  }

  .foot-navigation {
    display: flex;
    justify-content: center;
  }
  .foot-navigation button {
    margin: 5px 15px;
    background-color: rgb(243, 209, 17);
    border: 0;
    padding: 10px;
    transition: transform 0.2s;
  }

  .foot-navigation button:hover {
    background-color: rgb(253, 219, 0);
    transform: translateY(-2px);
    /* box-shadow: 0px 1.3px 5px rgb(85, 85, 85); */
    box-shadow: 0px 3px 15px rgba(73, 69, 69, 0.2);
  }
  .visiting-card {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 0;
    margin: 0 auto !important;
  }
  .landing-page {
    display: none;
  }
  .page {
    margin-top: 125px;
  }
}

@media only screen and (max-width: 736px) {
  .visiting-card {
    width: 90% !important;
    margin: auto;
  }

  .box-lg {
    width: 90%;
  }
}
