@font-face {
  font-family: "Do-Hyeon";
  src: url("./asset/DoHyeon-Regular.ttf");
  src: url("./asset/DoHyeon-Regular.ttf") format("woff"),
    url("./asset/DoHyeon-Regular.ttf") format("opentype"),
    url("./asset/DoHyeon-Regular.ttf") format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Do-Hyeon", "sans-serif"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark2 {
  background-color: #101011 !important;
}

.text-muted {
  color: #777778 !important;
}

.container {
  margin: 70px !important;
}

.w-100vh {
  width: 100vh;
}

.nav-link {
  transition: ease 0.75s;
  color: inherit !important;
}

.nav-link:hover {
  padding-left: 35px !important;
  transition: ease 0.75s;
  color: white !important;
}

.active {
  padding-left: 30px !important;
  color: rgb(202, 192, 192) !important;
}

.box {
  transition: 0.35s ease;
  display: flex;
  flex-direction: column;
  width: 295px;
  height: auto;
  margin: 15px;
  padding: 25px;
  text-overflow: ellipsis;
  /* padding:2rem; */
  /* border : 1px solid rgb(0, 0, 0); */
  background-color: rgb(12, 12, 12);
}

.box:hover {
  /* margin : 15px 1px 15px 1px ; */
  /* margin: 15px 9px; */
  background-image: linear-gradient("#fffff", "#ff00ff");
  transition: 0.25s ease-in-out;
}

.box-lg {
  background-color: rgb(12, 12, 12);
}

/* .text-overflow-ellipsis{
  text-overflow: clip;
  white-space: nowrap;
  overflow: scroll;
} */

.work-description {
  font-size: 15px;
  font-weight: lighter;
}

.work-footer {
  font-size: 14px;
  color: rgb(187, 184, 184) !important;
  margin-top: auto !important;
}

.experience-list {
  /* background-color: red; */
  margin-left: -20px;
}

.experience-list li {
  margin-top: 15px;
  list-style-type: none;
  line-height: 1.5em;
}

.profile-image {
  width: 25%;
  border-radius: 75px;
}

.page {
  margin-top: 3rem;
}

.visiting-card {
  height: 300px;
  /* margin: inherit 50px !important; */
  margin-right: 50px !important;
  background-color: rgb(12, 12, 12);
  box-shadow: 2px 1px 15px rgb(8, 8, 8);
}

.visiting-card-logo {
  background-image: linear-gradient(
      to right,
      rgba(156, 72, 72, 0.377),
      rgba(82, 82, 83, 0.295)
    ),
    url("./asset/art.png");
  background-size: cover;
  clip-path: polygon(
    0 0,
    100% 0,
    82% 23%,
    82% 81%,
    100% 99%,
    0 100%,
    0% 80%,
    0% 20%
  );
  background-position: center;
}
